
<div id="left-col" class="col l4">
  <h5>Admin</h5>
  <p>Any changes made will appear on the live SKCDC web site.</p>
</div>

<div id="right-col" class="col l6">
<h5>Edit Classrooms</h5>
  <p><%= link_to "+ new classroom", "/classrooms/new" %></p>
  <% @classroom_names.each do |classroom| %>
    <p>&ensp;<%= link_to "#{classroom[0]}", "/classrooms/#{classroom[1]}/edit" %></p>
  <% end %>
  <br></br>
  <p><%= link_to "â— return to admin main page", '/admin' %></p>
</div>
