<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class="col l8 m8 s12 center-align">
  <h5 class="yellow-title">Edit Centers</h5>
  <ul class="collection">
    <li class="collection-item"><%= link_to "+ new center", "/classrooms/new" %></li>
  <% @classroom_names.each do |classroom| %>
    <li class="collection-item">
      <%= link_to "#{classroom[0]}", "/classrooms/#{classroom[1]}/edit" %>
    </li>
  <% end %>
</ul>

</div>
