<div id="left-col" class="col l4">
  <h5>Admin Account</h5>
  Does <%= @classroom.name %> no longer exist?<br>
  <%= button_to "delete classroom", @classroom, :method => :delete, data: {confirm: "Are you sure you want to delete this classroom?"}, class: "waves-effect waves-light amber lighten-1 white-text btn" %>
</div>

<div id="right-col" class='col l6'>
  <%= render partial: '/general/error_notice' %>
  <h5>Update Classroom</h5>
  <%= render partial: 'form' %>
</div>
