
<div id="left-col" class="col l4 m4">
    <%= render file: "/general/_logo" %>
</div>


<div id="right-col" class="col l7 m7">
  <h2>Our Classrooms</h2>
  <div class="row">
    <% @classrooms.each do |classroom| %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content white-text">
          <p><%= link_to "#{classroom.name}", classroom %></p>
        </div>
      </div>
    </div>
        <% end %>
</div>

</div>
