<div class="col l1 m1"></div>

<div class="col l10 m10">
  <h3 class="center-align yellow-title">Our Centers</h3>
  <div class="row">
    <% if @classrooms.any? %>
    <div class="collection">
      <a href="/contacts" class="collection-item center-align">
        <div class="flow-text">Main Office</div>
        <span class="demphasize-text">Farmingdale, Maine</span>
      </a>
      <% @classrooms.each do |classroom| %>
      <a href="<%= classroom_path(classroom) %>" class="collection-item center-align">
        <div class="emphasize-text flow-text"><%= classroom.name %></div>
        <span class="demphasize-text"><%= classroom.town %>, Maine</span>
      </a>
      <% end %>
    </div>
  <% else %>
    <p>Sorry, no centers to show.</p>
    <% end %>
  </div>


<div class="col l1 m1"></div>
