<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>

</div>

<div id="right-col" class="col l6 m6 s12">
  <h2 class="center-align">Our Classrooms</h2>
  <div class="row">
    <% if @classrooms.any? %>
    <div class="collection">
      <% @classrooms.each do |classroom| %>
      <a href="<%= classroom_path(classroom) %>" class="collection-item">
        <span class="emphasize-text light-blue-text"><%= classroom.name %></span>&ensp;
        <span class="demphasize-text light-blue-text"><%= classroom.town %>, Maine</span>
      </a>
      <% end %>
    </div>
  <% else %>
    <p>Sorry, no classrooms to show.</p>
    <% end %>
  </div>
</div>
