<!-- child care options form -->
<div>
  <h5>Sign up to receive our email newsletter</h5>
  <%= link_to "Sign Up", "https://visitor.r20.constantcontact.com/manage/optin?v=001GdFFDTteOV2ViUikdn92Vwr-pewWzU_P", class: "btn white-text", target:"_"%>
</div>
