<div id="left-col" class="col l4">
  <h5>Admin</h5>
  <p>Any changes made will appear on the live SKCDC web site.</p>
</div>

<div id="right-col" class="col l6">
  <h5>Edit Programs</h5>
      <p><%= link_to "+ new program", "/programs/new" %></p>
    <% @program_names.each do |program| %>
      <p>&ensp;<%= link_to "#{program[0]}", "/programs/#{program[1]}/edit" %></p>
    <% end %>
    <br></br>
    <p><%= link_to "â— return to admin main page", '/admin' %></p>
</div>
