<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class="col l8 m8 s12 center-align">
  <h5 class="yellow-title">Edit Programs</h5>
  <ul class="collection">
    <li class="collection-item"><%= link_to "+ new program", "/programs/new" %></li>
    <% @program_names.each do |program| %>
      <li class="collection-item">
        <%= link_to "#{program[0]}", "/programs/#{program[1]}/edit" %>
      </l1>
    <% end %>
  </ul>
</div>
