
    <div id="left-col" class="col l4">
      <p>describe programs overall</p>
    </div>


<div id="right-col" class="col l6">
  <h2>Our Programs</h2>
  <div class="row">
    <% @programs.each do |program| %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content white-text">
          <p><%= link_to "#{program.title}", program %></p>
        </div>
      </div>
    </div>
        <% end %>
</div>

</div>
