<div class="col l1 m1"></div>

<div class="col l10 m10 s12">
  <h3 class="center-align yellow-title">Our Programs</h3>
  <h5 class="center-align yellow-title">Early Care and Education</h5>
  <%= render partial: "/general/collection", locals: {items: @ed_programs} %><br>
  <h5 class="center-align yellow-title">Supporting Families and Communities</h5>
  <%= render partial: "/general/collection", locals: {items: @community_programs} %>
</div>

<div class="col l1 m1"></div>
