<div class="col l1 m1"></div>

<div class="col l10 m10">

  <h3 class="yellow-title"><%= @program.title %></h3>
  <% if @program.classrooms.present?  %>
    <h5>Centers offering this program</h5>
      <ul>
    <% @program.classrooms.each do |classroom| %>
      <li> <%= link_to "#{classroom.name}", classroom %></li>
      <% end %>
    </ul>
  <% end %>
<h5>Description</h5>
  <div class="flow-text"><%= sanitize @program.description %></div>
  <p class="back-link"><%= link_to "â— return to all programs", programs_path %></p>

</div>

<div class="col l1 m1"></div>
