<div id="left-col" class="col l4 m4 s12 center-align">
  <h5 class="yellow-title">Admin</h5>
  <p>Any changes made will appear on the live SKCDC web site.</p>
  <p><%= link_to "â— return to admin main page", '/admin' %></p>
</div>
