<ul class="center-align">
  <h5><%= link_to "Recent Updates", posts_path, class:"yellow-title" %></h5>
  <ul>
  <% @recent_posts.each do |post| %>
    <li>
      <div>
        <%= link_to post.title, post_path(post), class:"green-title" %>
        <%= sanitize post.content.truncate(80, separator: ' ') %>
      </div>
      <br>
    </li>
    <% end %>

</ul>
</ul>
