<ul>

  <h5 class="padding-left"><%= link_to "Recent Updates", posts_path, class:"yellow-title" %></h5>
  <ul>
  <% @recent_posts.each do |post| %>
    <li class="padding-left">
      <div>
        <%= link_to post.title, post_path(post), class:"green-title" %>

      </div>
      <br>
    </li>
    <% end %>

</ul>
</ul>
