<div class="carousel carousel-slider border-clear">
 <a class="carousel-item" href="#one!"><%= image_tag @carousel.photo_1.url, :class => "carousel-img" %></a>
 <a class="carousel-item" href="#two!"><%= image_tag @carousel.photo_2.url, :class => "carousel-img" %></a>
 <a class="carousel-item" href="#three!"><%= image_tag @carousel.photo_3.url, :class => "carousel-img" %></a>
 <a class="carousel-item" href="#four!"><%= image_tag @carousel.photo_4.url, :class => "carousel-img" %></a>
</div>
