
    <% if items.any? %>
        <div class="collection">
          <% items.each do |item| %>
          <a href="<%= item.url_classname %>/<%= item.id %>" class="collection-item center-align flow-text"><%= item.title_or_name %></a>
        <% end %>
        </div>
    <% else %>
      <p>Sorry, no <%= items.title_classname %> to show.</p>
    <% end %>
