<div id="left-col" class="col l4 m4 s12 center-align border-yellow hide-on-small-and-down">
    <!-- <%= render partial: "/general/photo_buttons" %> -->
    <%= link_to "centers", classrooms_path, class: "btn" %>
    <hr class="yellow-rule">
    <%= link_to "programs", programs_path, class: "btn" %>
    <hr class="yellow-rule">
    <%= render partial: "/general/blog_sidebar" %>
</div>
