<div id="left-col" class="col l4 m4 s12 center-align border-yellow hide-on-small-and-down">
    <%= render partial: "/general/photo_buttons" %>
    <hr class="yellow-rule">
    <%= render partial: "/general/blog_sidebar" %>
</div>
