<div class="row hide-on-med-and-down center-align">
    <div class="col l12">
        <a href="/programs">
        <div id="program-button">
          <h4 class="white-text">our programs</h4>
        </div>
      </a>

    </div>

    <div class="col l12">
      <a href="/classrooms">
          <div id="classroom-button">
            <h4 class="white-text">our locations</h4>
          </div>
        </a>
      </div>

      <div class="col l12">
        <a href="/parent_resources">
          <div id="resources-button">
            <h4 class="white-text">family resources</h4>
          </div>
        </a>
      </div>
</div>
