<div class="center-align hide-on-small-and-down border-yellow padding-box">
    <div class="image-container">
      <a href="/">
        <img src="/assets/blocks.jpg" align="middle" class="image-button">
      </a>
    </div

      <a href="/">
        <img src="/assets/southgardinerbutton.jpg" align="middle" class="image-button">
      </a>

      <a href="/">
        <img src="/assets/family.jpg" align="middle" class="image-button">
      </a>

</div>
