<div class="row hide-on-med-and-down">
    <div class="col l12">
      <a href="/programs">
      <div class="card card-xs center-align">
        <div class="card-image">
          <img src="/assets/blocks.jpg" class="card-display">
        </div>
          <div class="green-title">our programs</div>
      </div>
      </a>
    </div>

    <div class="col l12">
      <a href="/classrooms">
      <div class="card card-xs center-align">
        <div class="card-image">
          <img src="/assets/southgardiner.jpg" class="card-display">
        </div>
          <div class="green-title">our locations</div>
        </div>
        </a>
      </div>

      <div class="col l12">
        <div class="card card-xs center-align">
          <a href="parent_resources">
          <div class="card-image">
            <img src="/assets/family.jpg" class="card-display">
          </div>
          <div class="green-title">our family resources</div>
        </div>
        </a>
      </div>
  </div>
