<div class="col l1 m1"></div>

<div class="col l10 m10">
  <div class="center-align">
    <h3 class="yellow-title">Employment Opportunities</h3>
    <p>SKCDC is always seeking qualified candidates.</p>
    <% if @career_sites.any? %>
      <h5>Explore our current listings:</h5>
      <div class="collection">
        <% @career_sites.each do |cs| %>
          <a target="_" href=<%=cs.url%> class="collection-item"><%= cs.name %></a>
        <% end %>
      </div>
    <% end %>

  <% if @benefits.any? %>
    <h5>Agency Benefits</h5>
      <ul class="collection">
        <% @benefits.each do |b| %>
          <li class="collection-item"><%= b.benefit %></li>
        <% end %>
      </ul>
  <% end %>

  </div>
</div>

<div class="col l1 m1"></div>
