<div class="col l1 m1"></div>

<div class="col l10 m10">
  <div class="center-align">
    <h3 class="yellow-title">Employment Opportunities</h3>
    <p>SKCDC is always seeking qualified candidates.</p>
    <h5>Explore our current listings:</h5>
    <div class="collection">
        <a target="_" href="https://www.servingschools.com/employerjobs/vy5e" class="collection-item"> Serving Schools</a>
        <a target="_" href="https://www.monster.com/jobs/c-southern-kennebec-child-development-corporation.aspx" class="collection-item">Monster</a>
    </div>

    <h5>Agency Benefits</h5>
    <ul class="collection">
        <li class="collection-item">Full time regular employees accrue one day of sick leave per month. (Prorated for part-time regular employees).</li>
        <li class="collection-item">Full time employees accrue one day of vacation time per month for the first five years. After five years, vacation accrues at the rate of 1 1/2 days per month, and after 10 years, at the rate of two days per month (prorated for part-time).</li>
        <li class="collection-item">Employees receive holiday pay for all state observed holidays.</li>
        <li class="collection-item">Employees receive one personal day per year.</li>
        <li class="collection-item">Group medical insurance paid by both the agency and the employee, rates based on number of hours worked. Deductions made on a pre-tax basis.</li>
        <li class="collection-item">Long term disability insurance for eligible employees.</li>
        <li class="collection-item">Agency contributes 4% (based on employee's annual earnings) into a 401K retirement plan.</li>
        <li class="collection-item">The employee, through the agency's Section 125 Cafeteria Plan, may purchase other pretax benefits (Life, Dental, Vision, and Health Care and Dependent Care Reimbursement Accounts).</li>
    </ul>

  </div>
</div>

<div class="col l1 m1"></div>
