<div class="col l1 m1"></div>

<div class="col l10 m10">
  <div class="center-align">
    <h3 class="yellow-title">Employment Opportunities</h3>
    <p>SKCDC is always seeking qualified candidates.</p>
    <h5>Explore our current listings:</h5>
    <div class="collection">
        <a target="_" href="https://www.servingschools.com/employerjobs/vy5e" class="collection-item"> Serving Schools</a>
        <a target="_" href="https://www.monster.com/jobs/c-southern-kennebec-child-development-corporation.aspx" class="collection-item">Monster</a>
    </div>

  <% if @benefits.any? %>
    <h5>Agency Benefits</h5>
      <ul class="collection">
        <% @benefits.each do |b| %>
          <li class="collection-item"><%= b.benefit %></li>
        <% end %>
      </ul>
  <% end %>

  </div>
</div>

<div class="col l1 m1"></div>
