<div class="col l1 m1"></div>

<div class="col l10 m10">
  <div class="center-align">
    <h5 class="yellow-title">SKCDC Employees</h5>
    <p>Welcome to the SKCDC employee dashboard.</p>
    <% if @employee_resources.any? %>
      <div class="collection">
        <% @employee_resources.each do |er| %>
        <a class="collection-item" target="_" href=<%= er.url %>><%= er.name %></a>
        <% end %>
      </div>
    <% end %>
</div>

<div class="col l1 m1"></div>
