<footer class="page-footer grey lighten-4">
      <!-- <div class="container"> -->
      <div class="row">
        <div class="col l3 s6">
          <img class="footer-logo" src="/assets/SKCDC_Logo.jpg" alt="SKCDC logo">
        </div>

          <div class="col l3 s6">
            <p class="grey-text">
            Southern Kennebec Child Development Corporation<br>
            337 Maine Avenue<br>
            Farmingdale, ME 04344</p>
          </div>

          <div class="col l3 s6">
            <p class="grey-text">
            telephone: 207-582-3110<br>
            toll-free: 800-525-2229<br>
            fax: 207-582-3112<br>
            email: info@skcdc.org
            </p>
          </div>
          <div class="col l3 s16">
            <!-- <h5 class="black-text">Links</h5> -->
            <ul>
              <li><a class="grey-text" href="#!">about us</a></li>
              <li><a class="grey-text" href="#!">programs</a></li>
              <li><a class="grey-text" href="#!">classrooms</a></li>
              <li><a class="grey-text" href="#!">contact us</a></li>
              <li><a class="grey-text" href="#!">parent resources</a></li>
            </ul>
          </div>

        </div>
      <!-- </div> -->
      <div class="footer-copyright">
        <div class="container grey-text">
        © 2017 Southern Kennebec Child Development Corporation
        <a class="right" href="#!">skcdc.org</a>
        </div>
      </div>
    </footer>
