<footer class="page-footer grey lighten-4">
      <!-- <div class="container"> -->
      <div class="row">
        <div class="col l3">
          <div class="margin-bottom"><a href="https://www.paypal.com/donate/?token=HRVEFBVHqPQ_R1m05PUkS2OBV0Juh6Q0aZO34aO3WRtuaICf5ypQLix-Wa7bkMoKnUaV1G"  target="_blank" class="waves-effect waves-light btn">Donate</a></div>
          <img class="footer-logo" src="/assets/uw_3s_ful.jpg" alt="United Way">
          <div class="grey-text">United Way member agency</div>
        </div>

          <div class="col l2">
            <ul class="grey-text margin-top">
            <li>Southern Kennebec Child Development Corporation</li>
            <li>337 Maine Avenue</li>
            <li>Farmingdale, ME 04344</li>
            </ul>
          </div>

          <div class="col l2">
            <ul class="grey-text margin-top">
            <li>telephone: 207-582-3110</li>
            <li>toll-free: 800-525-2229</li>
            <li>fax: 207-582-3112</li>
            <li>email: info@skcdc.org</li>
          </ul>
          </div>
          <div class="col l2">
              <a href="https://www.facebook.com/MaineSKCDC" target="_blank"><img src="/assets/FB-f-Logo__blue_50.png" alt="Facebook"></a>
              <div class="grey-text margin-top">Sign up for our newsletter!</div>
              <div class="margin-bottom"><a href="https://www.paypal.com/donate/?token=HRVEFBVHqPQ_R1m05PUkS2OBV0Juh6Q0aZO34aO3WRtuaICf5ypQLix-Wa7bkMoKnUaV1G"  target="_blank" class="waves-effect waves-light btn">Sign Up</a></div>

            <!-- <h5 class="black-text">Links</h5> -->

          </div>

          <div class="col l2 right">
            <ul>
             <li><a class="grey-text" href="#!">careers</a></li>
             <li><a class="grey-text" href="#!">contact</a></li>
           </ul>
           </div>

        </div>
      <!-- </div> -->
      <div class="footer-copyright">
        <div class="container grey-text">
        © 2017 Southern Kennebec Child Development Corporation
        <a class="right" href="#!">skcdc.org</a>
        </div>
      </div>
    </footer>
