<div id="left-col" class="col l4 m4">
  <%= render partial: "blog_sidebar" %>
</div>

<div id="right-col" class="col l6 m6 s12">

  <h4 class="center-align yellow-title">Agency Mission</h4>

  <p class="text-indent">To improve lives and opportunities for children and families.</p>

  <h4 class="center-align yellow-title">Agency Vision</h4>
  <div class="text-indent">
  <p>
    Provide and support the development of quality, accessible, flexible, affordable early care and education options designed to address the child care needs of income eligible families that support economic self-sufficiency. </p>
    <p>Provide Head Start and Early Head Start services and options for eligible families.</p>
    <p>Provide or facilitate the development of comprehensive developmentally appropriate programs for children through an integrated family-focused service delivery system to promote school
    readiness and long term success. </p>
    <p>Expand existing collaborative and partnership efforts with State, public school systems, community agencies and early care providers to increase and enhance quality services and positive outcomes for children and families. </p>
    <p>Promote family partnerships that recognize those who parent as the primary educators, nurturers, and advocates for their children, that encourage a meaningful role in decision making and other parent training/involvement opportunities.</p>
    <p>Provide or sponsor training and professional development opportunities for staff and providers.</p>
  </div>
</div>
