<div class="col l1 m1"></div>

<div class="col l10 m10">

  <h4 class="yellow-title center-align">Agency Mission</h4>

    <div class="center-align demphasize-text flow-text">To improve lives and opportunities for children and families.</div>
      <hr class="yellow-rule-sm">

  <h4 class="yellow-title center-align">Agency Vision</h4>
  <div class="flow-text">
  <p>
    Provide and support the development of quality, accessible, flexible, affordable early care and education options designed to address the child care needs of income eligible families that support economic self-sufficiency. </p>
    <p>Provide Head Start and Early Head Start services and options for eligible families.</p>
    <p>Provide or facilitate the development of comprehensive developmentally appropriate programs for children through an integrated family-focused service delivery system to promote school
    readiness and long term success. </p>
    <p>Expand existing collaborative and partnership efforts with State, public school systems, community agencies and early care providers to increase and enhance quality services and positive outcomes for children and families. </p>
    <p>Promote family partnerships that recognize those who parent as the primary educators, nurturers, and advocates for their children, that encourage a meaningful role in decision making and other parent training/involvement opportunities.</p>
    <p>Provide or sponsor training and professional development opportunities for staff and providers.</p>
  </div>
</div>
<div class="col l1 m1"></div>
