<div id="left-col" class="col l4 m4">
   <%= render partial: "logo" %>
   <%= render partial: "blog_sidebar" %>
</div>

<div id="right-col" class="col l7 m7">

  <h2>Our Mission</h2>

  <p>Southern Kennebec Child Development Corporation (SKCDC) is a non-profit Agency governed by a fifteen (15) member Board of Directors. SKCDC operates Head Start, Early Head Start, and Child Care Programs in licensed facilities in southern Kennebec County, sponsors Family Child Care Providers for participation in the Child and Adult Care Food Program, operates the Child Care Resource Development Center - Child Care Options.</p>

</div>
