<ul id="dropdown1" class="dropdown-content">
  <li><a href="/mission">Our Mission</a></li>
  <li><a href="/collaborations">Our Collaborations</a></li>
</ul>

<nav class="nav-height grey lighten-4">
  <div class="row">

    <div class="col l1"></div>

    <div class="col l3">
       <div class="nav-wrapper">
         <a href="/" class="brand-logo">
           <div class="cardie z-depth-2">
                <div class="center-align">
                  <img src="/assets/SKCDC_Logo.jpg" alt="SKCDC logo">
                </div>
              </div>
            </a>
          </div>
        </div>

    <div class="col l2"></div>

    <div class="col l6">
     <ul id="nav-mobile" class="left">
       <li><a class="dropdown-button" href="/" data-activates="dropdown1">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
       <li><%= link_to "Programs", programs_path %></li>
       <li><%= link_to "Classrooms", classrooms_path %></li>
       <li><a href="collapsible.html">Parent Resources</a></li>
       <li><%= link_to "Contact Us",  contacts_path%></li>
     </ul>
   </div>

  </div>
</nav>
