<!-- LEFT COLUMN -->
  <div id="left-col" class="col l4 m4">
    <%= render partial: "logo" %>
    <%= render partial: "blog_sidebar" %>
</div>

<!-- RIGHT COLUMN -->

  <div id="right-col" class="col l7 m8">
    <div class="card card-m center-align">
    <span class="blue-title large">Welcome</span>
    <div class="card-content">
      <p>Welcome to SKCDC! We offer high quality early learning programs throughout Southern Kennebec County and serve children and families from birth right up to Kindergarten. With a variety of program options and locations,  SKCDC offers learning experiences that support school readiness, family engagement, and fun! We welcome you to learn more out our Head Start and Child Care programs. </p>
    </div>
  </div>

  <div class="row">
      <div class="col l4 hide-on-med-and-down">
        <a href="/programs">
        <div class="card card-xs center-align">
          <div class="card-image">
            <img src="/assets/SKCDC_Logo.jpg">
          </div>
            <p>learn about our<br>programs</p>
        </div>
        </a>
      </div>

      <div class="col l4 hide-on-med-and-down">
        <a href="/classrooms">
        <div class="card card-xs center-align">
          <div class="card-image">
            <img src="/assets/SKCDC_Logo.jpg">
          </div>
            <p>see our classroom<br>locations</p>
          </div>
          </a>
        </div>

        <div class="col l4 hide-on-med-and-down">
          <div class="card card-xs center-align">
            <a href="parent_resources">
            <div class="card-image">
              <img src="/assets/SKCDC_Logo.jpg">
            </div>
            <p>view parent and<br>caregiver resources</p>
          </div>
          </a>
        </div>
    </div>
  </div>
