
<div class="col l1"></div>

  <div id="right-col" class="col l10 m12 s12">
    <div class="border-clear">
      <div id="welcome-banner" class="center-align">
        <h3 class="white-text">Welcome to SKCDC</h3>
      </div>
      <div class="center-align flow-text">
        <p>We offer high quality early learning programs throughout Southern Kennebec County and serve children and families from birth right up to Kindergarten. With a variety of program options and locations,  SKCDC offers learning experiences that support school readiness, family engagement, and fun! We welcome you to learn more out our Head Start and Child Care programs.</p>
        <%= render partial: "carousel" %>
      </div>
    </div>
</div>

<div class="col l1 m1"></div>
