<!-- LEFT COLUMN -->
  <div id="left-col" class="col l4 m4">
    <%= render partial: "logo" %>
    <%= render partial: "blog_sidebar" %>
</div>

<!-- RIGHT COLUMN -->

  <div id="right-col" class="col l7 m8">
    <div class="card card-m center-align">
    <span class="blue-title large">Welcome</span>
    <div class="card-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="row">
      <div class="col l4 hide-on-med-and-down">
        <a href="/programs">
        <div class="card card-xs center-align">
          <div class="card-image">
            <img src="/assets/SKCDC_Logo.jpg">
          </div>
            <p>learn about our<br>programs</p>
        </div>
        </a>
      </div>

      <div class="col l4 hide-on-med-and-down">
        <a href="/classrooms">
        <div class="card card-xs center-align">
          <div class="card-image">
            <img src="/assets/SKCDC_Logo.jpg">
          </div>
            <p>see our classroom<br>locations</p>
          </div>
          </a>
        </div>

        <div class="col l4 hide-on-med-and-down">
          <div class="card card-xs center-align">
            <a href="parent_resources">
            <div class="card-image">
              <img src="/assets/SKCDC_Logo.jpg">
            </div>
            <p>view parent and<br>caretaker resources</p>
          </div>
          </a>
        </div>
    </div>
  </div>
