<div id="left-col" class="col l4">
  <h5>Admin</h5>
  <p>Any changes made will appear on the live SKCDC web site.</p>
</div>

<div id="right-col" class="col l6">
  <h5>Edit Parent Resources</h5>
  <p><%= link_to "+ new parent resource", "/parent_resources/new" %></p>
    <% @parent_resources.each do |parent_resource| %>
      <p>&ensp;<%= link_to "#{parent_resource[0]}", "/parent_resources/#{parent_resource[1]}/edit" %></p>
    <% end %>

    <br></br>
    <p><%= link_to "â— return to admin main page", '/admin' %></p>
</div>
