<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class="col l8 m8 s12 center-align">
  <h5 class='yellow-title'>Edit Parent Resources</h5>
  <ul class="collection">
    <li class="collection-item"><%= link_to "+ new parent resource", "/parent_resources/new" %></li>
    <% @parent_resources.each do |parent_resource| %>
      <li class="collection-item"><%= link_to "#{parent_resource[0]}", "/parent_resources/#{parent_resource[1]}/edit" %></li>
    <% end %>
  </ul>
</div>
