<div id="left-col" class="col l4">
  <h5>Admin Account</h5>
  <p><%= link_to "see published parent resource", parent_resource_path(@parent_resource) %></p>
  <%= button_to "delete #{@parent_resource.title}", @parent_resource, :method => :delete, data: {confirm: "Are you sure you want to delete this parent resource?"} %>

</div>


<div id="right-col" class='col l6'>
  <h5>Edit Parent Resource</h5>
  <%= render partial: 'form' %>
</div>
