<div class="col l1 m1"></div>

<div class="col l10 m10">
  <h3 class="center-align yellow-title">Our Resources</h3>
  <%= render partial: "/general/collection", locals: {items: @parent_resources} %>
</div>

<div class="col l1 m1"></div>
