<div id="left-col" class="col l4 m12 s12">
  <p class="center-align">
    <%= link_to "â— return to all family resources", parent_resources_path %>
  </p>

</div>

<div id="right-col" class="col l6 m12 s12">
  <h3 class="center-align yellow-title"><%= @parent_resource.title %></h3>
  <p><%= sanitize @parent_resource.description %></p><br></br>
</div>
