<div class="col l1 m1"></div>

<div class="col l10 m10">
    <h3 class="yellow-title"><%= @parent_resource.title %></h3>
    <div class="flow-text"><%= sanitize @parent_resource.description %></div>
    <%= link_to "â— return to all resources", parent_resources_path %>
</div>

<div class="col l1 m1"></div>
