<div class="col l2 m2"></div>



<div id="right-col" class="col l8 m8 s12">
    <h3 class="yellow-title"><%= @parent_resource.title %></h3>
    <p><%= sanitize @parent_resource.description %></p>
    <%= link_to "â— return to all resources", parent_resources_path %>
</div>

<div class="col l2 m2"></div>
