<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Rachel Salois</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div id="cat-mode" class="top"><a href="#">cat mode</a></div>
  <div class="flex-container">
    <div class="flex-cactus-column">
      <img src="./images/cactus-5.gif" alt="potted cactus" id="cactus">

    </div>
    <div class="flex-column text-column">
      <img src="./images/Hi-there.jpeg" alt="Hi, there." id="hi-there">
      <img src="./images/Im-Rachel.jpeg" alt="I'm Rachel." id="im-rachel">
        <div id="inner-text">

        </div>
      <img src="./images/arrow.jpeg" alt="arrow pointing to cactus" id="arrow">
      <h1 id="title">--Rachel Salois</h1>
      <h2 id="subtitle" class="right-align">full-stack developer / cactus owner</h2>
      <p class="right-align"><a href="#project-updates">what I've been working on lately ↓</a></p>
    </div>


  </div>
  <div id="project-updates">
    <h2 id="subtitle">current and in-progress projects</h2>
    <span class="update-content">
      <p>Birthday Plaid</p>
      <ul>
        <li>Built with a state of-the-art PLAIDgorithm, this JavaScript site generates exactly the right plaid for YOUR birthday using CSS grid.</li>
        <li><a href="https://github.com/RachelSa/birthday-plaid" target="_blank">github</a> | <a href="http://rachelsalois.com/birthday-plaid/" target="_blank">live site</a></li>
      </ul>
    </span>
    <span class="update-content">
      <p>SKCDC Website</p>
      <ul>
        <li>A Rails website and content management system for a nonprofit Regional Maine Head Start corporation.</li>
        <li><a href="https://github.com/RachelSa/skcdc" target="_blank">github</a></li>
      </ul>
    </span>
    <span class="update-content">
      <p>Snack Tracker</p>
      <ul>
        <li>A snack-reviewing demo app for teaching React and Redux at Flatiron School.</li>
        <li><a href="https://github.com/RachelSa/snack-tracker" target="_blank">github</a></li>
      </ul>
    </span>
  </div>


  <script src="content.js"></script>
  <script src="index.js"></script>
</body>
</html>
