<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class="col l8 m8 s12 center-align">
  <h5 class="yellow-title">Edit Contacts</h5>
  <ul class="collection">
    <li class="collection-item"><%= link_to "+ new contact", "/contacts/new" %></li>
    <% @contact_names.each do |contact| %>
      <li class="collection-item">
        <%= link_to "#{contact[0]} #{contact[1]}", "/contacts/#{contact[3]}/edit" %><br>&emsp; <%= contact[2] %>
      </li>
    <% end %>

</div>
