<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class="col l8 m8 s12 center-align">
  <h5 class='yellow-title'>Update Posts</h5>
  <ul class="collection">
    <li class="collection-item"><%= link_to "+ new post", new_post_path %></li>
    <% @posts.each do |post| %>
      <li class="collection-item"><%= link_to post.title, edit_post_path(post) %></li>
    <% end %>
  </ul>
</div>
