<div id="left-col" class="col l4">
  <h5>Admin</h5>
  <p>Any changes made will appear on the live SKCDC web site.</p>
</div>

<div id="right-col" class="col l6">
  <h5>Update Blog Posts</h5>
  <%= link_to "+ new post", new_post_path %>
  <% @posts.each do |post| %>
    <p>&ensp;<%= link_to post.title, edit_post_path(post) %></p>
  <% end %>

  <br></br>
  <p><%= link_to "â— return to admin main page", '/admin' %></p>
</div>
