<div class="col l1 m1"></div>

<div class="col l10 m10">
  <h3 class="center-align yellow-title">Recent Posts</h3>
  <div class="row">
    <% if @posts.any? %>
      <div class="collection">
      <% @posts.each do |post| %>
        <a target="_" href="<%= post_path(post) %>" class="collection-item center-align">
          <div class="emphasize-text flow-text small-margin-bottom"><%= post.title %></div>
          <span><%= post.created_at.strftime("%B %d, %Y") %></span>
        </a>
      <% end %>
    </div>
    <% else %>
      <p>Sorry, no posts to show.</p>
    <% end %>
    </div>
</div>

<div class="col l1 m1"></div>
