<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>
</div>


<div id="right-col" class="col l7 m7">
  <h2 class="center-align">Recent Posts</h2>
  <div class="row">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <a href="<%= post_path(post) %>">
          <div class="col s12 m10 l6 margin-bottom">
            <div class="light-blue-text center-align">
              <div><%= post.title.upcase %></div>
              <div class="blue-grey-text text-lighten-3 demphasize-text"><%= post.created_at.strftime("%B %d, %Y") %></div>
            </div>
          </div>
        </a>
      <% end %>
    <% else %>
      <p>Sorry, no posts to show.</p>
    <% end %>
    </div>
</div>
