<div id="left-col" class="col l4 m4">

</div>


<div id="right-col" class="col l6 m6 s12">
  <h3 class="center-align yellow-title">Recent Posts</h3>
  <div class="row">
    <% if @posts.any? %>
      <div class="collection">
      <% @posts.each do |post| %>
        <a href="<%= post_path(post) %>" class="collection-item center-align">
          <div class="emphasize-text"><%= post.title %></div>
          <span class="demphasize-text"><%= post.created_at.strftime("%B %d, %Y") %></span>
        </a>
      <% end %>
    </div>
    <% else %>
      <p>Sorry, no posts to show.</p>
    <% end %>
    </div>
</div>
