<div class="col l1 m1"></div>

<div class="col l10 m10">
  <h3 class="center-align yellow-title">Recent Posts</h3>
  <div class="row">
    <% if @posts.any? %>
      <div class="collection">
      <% @posts.each do |post| %>
        <a href="<%= post_path(post) %>" class="collection-item center-align">
          <div class="emphasize-text flow-text"><%= post.title %></div>
          <p class="demphasize-text"><%= post.created_at.strftime("%B %d, %Y") %></p>
          <div class="demphasize-text"><%= sanitize post.content.truncate(150, separator: ' ') %></div>
        </a>
      <% end %>
    </div>
    <% else %>
      <p>Sorry, no posts to show.</p>
    <% end %>
    </div>
</div>

<div class="col l1 m1"></div>
