<div id="left-col" class="col l4 m4">
  <%= render partial: "/general/blog_sidebar" %>
</div>

<div id="right-col" class="col l6 m6">
  <h3 class="center-align yellow-title">Our Collaborations</h3>
  <%= render partial: "/general/collection", locals: {items: @collaborations} %>
</div>
