<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>
  <%= render partial: "/general/blog_sidebar" %>
</div>

<div id="right-col" class="col l7 m7">
  <h2 class="center-align">Our Collaborations</h2>
  <%= render partial: "/general/collection", locals: {items: @collaborations} %>
</div>
