<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>
  <%= render partial: "/general/blog_sidebar" %>
</div>

<div id="right-col" class="col l7 m7">
  <h2 class="center-align">Our Collaborations</h2>
    <div class="row">
      <% if @collaborations.any? %>
        <% @collaborations.each do |collaboration| %>
          <a href="<%= collaboration_path(collaboration) %>">
            <div class="col s12 m10 l4 margin-bottom">
                <div class="light-blue-text center-align">
                  <p><%= collaboration.title.upcase%></p>
              </div>
          </div>
        </a>
      <% end %>
      <% else %>
        <p>Sorry, no collaborations to show.</p>
      <% end %>
  </div>
</div>
