<%= render partial: "/general/left_sidebar" %>

<div id="right-col" class="col l8 m8">
  <div class="center-align">
    <h3 class="yellow-title">Our Collaborations</h3>
    <%= render partial: "/general/collection", locals: {items: @collaborations} %>
  </div>
</div>
