<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>
  <%= render partial: "/general/blog_sidebar" %>
</div>

<div id="right-col" class="col l7 m7">
  <h2>Our Collaborations</h2>
    <div class="row">
      <% @collaborations.each do |collaboration| %>
        <div class="col s12 m12 l10">
          <div class="card">
            <div class="card-content blue-grey-text center-align">
              <p><%= link_to "#{collaboration.title}", collaboration %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
