<div id="left-col" class="col l4 m4 s12">
  <p class="center-align">
    <%= link_to "â— return to all collaborations", collaborations_path %>
  </p>
</div>

<div id="right-col" class="col l7 m7 s12">
  <div class="center-align">
    <h3 class="yellow-title"><%= @collaboration.title %></h3>
    <p><%= sanitize @collaboration.description %></p>
  </div>
</div>
