<div class="col l1 m1"></div>

<div class="col l10 m10">

    <h3 class="yellow-title"><%= @collaboration.title %></h3>
    <div class="flow-text"><%= sanitize @collaboration.description %></div>
    <p class="back-link"><%= link_to "â— return to all collaborations", collaborations_path %></p>
</div>

<div class="col l1 m1"></div>
