body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 a:link {
   color: #2FC13F;
 }

 h1, h2, h3, h4, h5 {
   font-family: 'Hind Siliguri', sans-serif;
 }

.yellow-title {
  color: #ffc107;
}

.blue-title {
  color: #03a9f4;
}

.green-title {
  color: #2FC13F;
}

.emphasize-text {
  font-weight: bold;
}

.demphasize-text {
  font-weight: 100;
  font-style: italic;
}
.footer-text {
  font-size: .9em;
}

.material-icons.md-42 {
  font-size: 42px;
}

.large {
  font-size: 3em;
}

.left-card {
  padding: 2%;
  width: 100%;
}

.logo-img {
  width: 100%;
}

.card-xs {
 max-width:200px;
 height: auto;
 padding: 2px;
}

#nav-mobile a {
  color: black;
}

#left-col {
  padding-left: 3%;
}

#right-col {
  padding-left: 3%;
}

#welcome-banner {
  padding-top: 5%;
  padding-bottom: 10%;
}

.container-custom {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.classroom-image {
  max-width: 150px;
}

.footer-logo {
  max-width: 65px;
  height: auto;
  float: right;
  margin-left: 5%;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}

.padding-left {
  padding-left: 10px;
}

.text-indent {
  padding-left: 10px;
}
