.nav-height{
    height: 90px;
    line-height: 90px;
    }

.nav-wrapper img {
    height: 185px;
}

.card-xs {
 max-width:200px;
 height: auto;
 padding: 2px;
}

#nav-mobile a {
  color: black;
}

#left-col {
  padding: 125px 60px 0px 30px;

}

#right-col {
  padding: 0px 0px 0px 30px;
}

.container-custom {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.nav-logo-margin {
  margin-left: 5%;
}

// .nav-link-margin {
//   margin-left: 10%;
// }

.cardie {
  background-color: white;
  width: 370px;
  height: 190px;
}

.footer-logo {
  max-width: 250px;
  height: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}
