body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 a:link {
   color: #2FC13F;
 }

 h1, h2, h3, h4, h5 {
   font-family: 'Hind Siliguri', sans-serif;
 }

 .background-image {
   background-image: url("/assets/colors.jpeg");
 }

 .dark-background-image {
   background-image: url("/assets/colors-dark.jpeg");
 }

 .white-background {
   background-color: rgba(255, 255, 255, 0.8);
 }

.yellow-title {
  color: #ffc107;
}

.blue-title {
  color: #03a9f4;
}

.green-title {
  color: #2FC13F;
}

.emphasize-text {
  font-weight: bold;
}

.demphasize-text {
  font-weight: 100;
  font-style: italic;
}
.footer-text {
  font-size: .9em;
}

.material-icons.md-42 {
  font-size: 42px;
}

.large {
  font-size: 3em;
}

.card {
 width: 175px;
}

.left-card {
  padding: 2%;
  width: 100%;
}

.logo-img {
  max-width: 320px;
  margin: 3px 3px 3px 20px;
  border-radius: 20px;
  border: 1px solid #C0C0C0;
  float: left;
}

.card-xs {
 max-width:200px;
 height: auto;
 padding: 2px;
}

.carousel-img {
    height: 300px;
    width: auto !important;
}

#wrapper {
  margin: 1%
}

#nav-mobile a {
  color: black;
}

#right-col {
  padding: 1% 8% 1% 8%
}

#left-col {
  padding: 1%
}

#welcome-banner {
  background-color:#ffc107;
  border-radius: 20px;
  padding: .25%
}

#apply-margin {
  margin-top: 10px;
}

#logo-margin {
  margin-top: 100px;
  outline-color: black;
  outline-width: 5px;
}

#title-image {
  box-shadow: 4px 4px 5px #aaa;
}

.center-of-outline {
  left: 20%;
}

.container-custom {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.classroom-image {
  max-width: 150px;
}

.footer-logo {
  max-width: 65px;
  height: auto;
  float: left;
  margin-right: 5%;
}

.small-image {
  max-width: 270px;
  height: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-top {
  padding-top: 100px;
}

.text-indent {
  padding-left: 10px;
}

.card-display {
  max-height: 100px;
}

.transparency {
  opacity: .5;
  position: absolute;
  z-index: -1;
}

.max-350 {
  max-width: 350px;
}

.border-yellow {
  border: 1px solid #ffc107;
  border-radius: 20px;
  padding: 2% 2% 2% 2%;
}

.border-clear {
  margin: 1% 1% 1% 1%;
}
.image-button {
  max-width:100%;
  margin: 1% 1% 1% 1%;
  border-radius: 20px;
  opacity: .75;
}

.image-container {
  position: relative;
  text-align: center;
}

.yellow-rule {
  border-top: 1px solid #ffc107;
  margin: 8%
}

.yellow-rule-sm {
  border-top: 1px solid #ffc107;
  margin: 4%
}
