body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

.nav-height{
    height: 80px;
    line-height: 80px;
    }


.logo-img {
  max-width: 350px;
}

.card-xs {
 max-width:200px;
 height: auto;
 padding: 2px;
}

#nav-mobile a {
  color: black;
}

#left-col {
  padding-left: 4%
}

#right-col {

}

.container-custom {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


.footer-logo {
  max-width: 250px;
  height: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}
