body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }


.yellow-title {
  color: #ffc107;
}

.blue-title {
  color: #03a9f4;
}

.demphasize-text {
  font-weight: 100;
  font-style: italic;
}
.footer-text{
  font-size: .75em;
}

.material-icons.md-42 {
  font-size: 42px;
}

.large {
  font-size: 3em;
}

.left-card {
  padding: 2%;
  width: 100%;
}

.nav-height{
    height: 80px;
    line-height: 80px;
    }

.logo-img {
  width: 100%;
}

.card-xs {
 max-width:200px;
 height: auto;
 padding: 2px;
}

#nav-mobile a {
  color: black;
}

#left-col {
  padding-left: 3%;
}

#right-col {
  padding-left: 3%;

}

.container-custom {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.classroom-image {
  max-width: 150px;
}

.footer-logo {
  max-width: 250px;
  height: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 10px;
}

.padding-left {
  padding-left: 10px;
}

.blog-indent {
  padding-left: 10px;
}
